APP_NAME="Rinaldy.dev"
APP_DESCRIPTION="Welcome to Rinaldy.dev – your personal space for web development insights, programming tutorials, coding tips, and tech articles. Explore topics like JavaScript, React, Laravel, Next.js, mobile app development, and web design through in-depth articles and tutorials. Whether you're a beginner or an experienced developer, find expert advice, career tips, and resources to grow in software development. Rinaldy shares his personal journey, coding experiences, and latest tech trends. Stay updated and inspired with practical guides, programming resources, and real-world examples!"
APP_URL="https://aldyweb.com/"